

body{
	background-image:url("HaloHome.jpeg");
	
	height:100%;
	
	background-color: black;
	color:aqua;
	
	background-position:center;
	
	background-repeat:no-repeat;
	
	background-size:cover;


	background-image: url('HaloHome.jpeg');

}

/*
add persistent header for search functionality in here.
*/
.gameListImg{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 200px;
}

.navbar-brand{
	background-color: aqua;
	color: black;
}
div {
    width: 200px;
    word-wrap: break-word;
}


